<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <!--/*@thymesVar id="title" type="java.lang.String"*/-->
  <title th:text="${title} ?: 'Contacts'">Contacts</title>
  <link rel="stylesheet" th:href="@{/css/output.css}"/>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.8/dist/cdn.min.js" defer></script>
</head>
<body>
<main>
  <header>
    <h1>
      <a href="/">
        <span class="all-caps">contact.app</span>
      </a>
      <span class="sub-title">A Demo Contacts Application</span>
    </h1>
  </header>
  <div layout:fragment="content"></div>
</main>
</body>
</html>
