<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<!--/*@thymesVar id="search" type="java.lang.String"*/-->
<!--/*@thymesVar id="contacts" type="java.util.List<codes.yam.contacts.Contact>"*/-->
<div layout:fragment="content">
  <form action="/contacts" method="get">
    <label for="search">Search contacts:</label>
    <input
      id="search" name="q"
      placeholder="Search contacts..."
      th:value="${search}"
      type="search"
    />
    <button type="submit">Search</button>
  </form>

  <p th:if="${search}">Results for "<span th:text="${search}"></span>":</p>

  <p th:if="${contacts.isEmpty()}">No contacts found.</p>
  <form th:unless="${contacts.isEmpty()}">
    <table>
      <thead>
      <tr>
        <th></th>
        <th>First</th>
        <th>Last</th>
        <th>Phone</th>
        <th>Email</th>
        <th></th>
      </tr>
      </thead>
      <tbody th:replace="~{fragments/contact-list-rows :: rows}"></tbody>
    </table>
    <button hx-confirm="Are you sure you want to delete the selected contacts?"
            hx-delete="/contacts"
            hx-target="body"
            type="button">Delete Selected
    </button>
  </form>
  <p>
    <a href="/contacts/new">Add New Contact</a>
  </p>
</div>
</body>
</html>