<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring Development" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ACTIVE_PROFILES" value="local" />
    <module name="contacts" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="codes.yam.contacts.ContactsApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
      <option name="RunConfigurationTask" enabled="true" run_configuration_name="Docker Compose Up" run_configuration_type="ShConfigurationType" />
    </method>
  </configuration>
</component>